@model NoticeBoard.Models.PlayerCharacters.PlayerCharacterModel

<div>
    <div class="row" style="padding-bottom:10px">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="col-12">Spellcasting Ability</div>
                            <label class="col-12"><strong>@Model.PlayerClass.SpellcastingAbility.Name</strong></label>
                        </div>
                        <div class="col-4">
                            <div class="col-12">Spell Save DC</div>
                            <label class="col-12"><strong>@(8 + Model.ProficiencyBonus + Model.AbilityScores.First(n => n.AbilityId == Model.PlayerClass.SpellcastingAbility.Id).Bonus)</strong></label>
                        </div>
                        <div class="col-4">
                            <div class="col-12">Spell Attack Bonus</div>
                            <label class="col-12"><strong>@(Model.ProficiencyBonus + Model.AbilityScores.First(n => n.AbilityId == Model.PlayerClass.SpellcastingAbility.Id).Bonus >= 0 ? "+" : "")@(Model.ProficiencyBonus + Model.AbilityScores.First(n => n.AbilityId == Model.PlayerClass.SpellcastingAbility.Id).Bonus)</strong></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Cantrips and Spells*@
    @for (int i = 0; i <= 9; i++)
    {
        if (i == 0 || Model.SpellSlots[i].Item1 > 0)
        {
            <div class="row">
                <div class="col-12" style="padding-bottom:10px">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-2">
                                    @if (i == 0)
                                    {
                                        <strong>Cantrips</strong>
                                    }
                                    else
                                    {
                                        <strong>Level @i</strong>
                                    }
                                </div>
                                <div class="col-2">
                                    @if (i == 0)
                                    {
                                        <strong>Spell Slots: ∞</strong>
                                    }
                                    else
                                    {
                                        <strong>Spell Slots: @Model.SpellSlots[i].Item1</strong>
                                    }
                                </div>
                                <div class="col-8">
                                    @if (i == 0)
                                    {
                                        <strong>Slots Remaining: ∞</strong>
                                    }
                                    else
                                    {
                                        <strong>Slots Remaining: @Model.SpellSlots[i].Item2</strong>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">Prepared</th>
                                        <th width="20%">Name</th>
                                        <th width="15%">School</th>
                                        <th width="15%">Casting Time</th>
                                        <th width="15%">Range</th>
                                        <th width="15%">Components</th>
                                        <th width="15%">Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var spell in Model.Spells.Where(n => n.SpellLevel == i))
                                    {
                                        <tr>
                                            <td class="text-center"><input type="radio" disabled checked /></td>
                                            <td>@spell.Name</td>
                                            <td>@spell.SpellSchool</td>
                                            <td>@spell.CastingTime</td>
                                            <td>@spell.Range</td>
                                            <td>V,S</td>
                                            <td>@spell.Duration</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
