@model NoticeBoard.Models.PlayerCharacters.PlayerCharacterModel
@using System.Text.RegularExpressions;

<div id="stats">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-4 h-100">
                            <div class="col-12">Class & Level</div>
                            <label class="col-12"><strong>{{classes[0].name}} Lv{{classes[0].level}}</strong></label>
                        </div>
                        <div class="col-4 h-100">
                            <div class="col-12">Background</div>
                            <label class="col-12"><strong>{{background}}</strong></label>
                        </div>
                        <div class="col-4 h-100">
                            <div class="col-12">Player Name</div>
                            <label class="col-12"><strong>{{playerName}}</strong></label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-4 h-100">
                            <div class="col-12">Race</div>
                            <label class="col-12"><strong>{{race}}</strong></label>
                        </div>
                        <div class="col-4 h-100">
                            <div class="col-12">Alignment</div>
                            <label class="col-12"><strong>{{alignment}}</strong></label>
                        </div>
                        <div class="col-4 h-100">
                            <div class="col-12">Experience Points</div>
                            <label class="col-12"><strong>{{experiencePoints}}</strong></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <div class="row mb-3">
                @*Ability Scores*@
                <div class="col-4">
                    <div class="card h-100">
                        <div class="card-body">

                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <div>Strength</div>
                                    <div><span class="float-left"><img type="button" class="text-center" src="~/img/icon/subtract_16x16.png" /></span>{{abilityScores[0].score}}<span class="float-right"><img type="button" class="text-center" src="~/img/icon/add_16x16.png" /></span></div>
                                </div>
                                <div class="card-footer" align="center">
                                    <strong><span v-if="abilityScores[0].bonus >= 0">+</span>{{abilityScores[0].bonus}}</strong><span class="float-right"><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Strength Ability Check" data-die-type="20" data-bonus="{{abilityScores[0].bonus}}" src="~/img/icon/d6_16x16.png" /></span>
                                </div>
                            </div>

                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <div>Dexterity</div>
                                    <div><span class="float-left"><img type="button" class="text-center" src="~/img/icon/subtract_16x16.png" /></span>{{abilityScores[1].score}}<span class="float-right"><img type="button" class="text-center" src="~/img/icon/add_16x16.png" /></span></div>
                                </div>
                                <div class="card-footer" align="center">
                                    <strong><span v-if="abilityScores[1].bonus >= 0">+</span>{{abilityScores[1].bonus}}</strong><span class="float-right"><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Dexterity Ability Check" data-die-type="20" data-bonus="{{abilityScores[1].bonus}}" src="~/img/icon/d6_16x16.png" /></span>
                                </div>
                            </div>

                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <div>Constitution</div>
                                    <div><span class="float-left"><img type="button" class="text-center" src="~/img/icon/subtract_16x16.png" /></span>{{abilityScores[2].score}}<span class="float-right"><img type="button" class="text-center" src="~/img/icon/add_16x16.png" /></span></div>
                                </div>
                                <div class="card-footer" align="center">
                                    <strong><span v-if="abilityScores[2].bonus >= 0">+</span>{{abilityScores[2].bonus}}</strong><span class="float-right"><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Constitution Ability Check" data-die-type="20" data-bonus="{{abilityScores[2].bonus}}" src="~/img/icon/d6_16x16.png" /></span>
                                </div>
                            </div>

                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <div>Intelligence</div>
                                    <div><span class="float-left"><img type="button" class="text-center" src="~/img/icon/subtract_16x16.png" /></span>{{abilityScores[3].score}}<span class="float-right"><img type="button" class="text-center" src="~/img/icon/add_16x16.png" /></span></div>
                                </div>
                                <div class="card-footer" align="center">
                                    <strong><span v-if="abilityScores[3].bonus >= 0">+</span>{{abilityScores[3].bonus}}</strong><span class="float-right"><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Intelligence Ability Check" data-die-type="20" data-bonus="{{abilityScores[3].bonus}}" src="~/img/icon/d6_16x16.png" /></span>
                                </div>
                            </div>

                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <div>Wisdom</div>
                                    <div><span class="float-left"><img type="button" class="text-center" src="~/img/icon/subtract_16x16.png" /></span>{{abilityScores[4].score}}<span class="float-right"><img type="button" class="text-center" src="~/img/icon/add_16x16.png" /></span></div>
                                </div>
                                <div class="card-footer" align="center">
                                    <strong><span v-if="abilityScores[4].bonus >= 0">+</span>{{abilityScores[4].bonus}}</strong><span class="float-right"><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Wisdom Ability Check" data-die-type="20" data-bonus="{{abilityScores[4].bonus}}" src="~/img/icon/d6_16x16.png" /></span>
                                </div>
                            </div>

                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <div>Charisma</div>
                                    <div><span class="float-left"><img type="button" class="text-center" src="~/img/icon/subtract_16x16.png" /></span>{{abilityScores[5].score}}<span class="float-right"><img type="button" class="text-center" src="~/img/icon/add_16x16.png" /></span></div>
                                </div>
                                <div class="card-footer" align="center">
                                    <strong><span v-if="abilityScores[5].bonus >= 0">+</span>{{abilityScores[5].bonus}}</strong><span class="float-right"><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Charisma Ability Check" data-die-type="20" data-bonus="{{abilityScores[5].bonus}}" src="~/img/icon/d6_16x16.png" /></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                @*Saving Throws and Skills*@
                <div class="col-8">
                    @*Proficiency Bonus*@
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="card bg-light mb-3 col-4">
                                    <div align="center">
                                        <strong>@Model.ProficiencyBonus</strong>
                                    </div>
                                </div>
                                <div class="col-8 text-center">Proficiency Bonus</div>
                            </div>
                        </div>
                    </div>

                    @*Saving Throws*@
                    <div class="card mb-3">
                        <div class="card-body">
                            @foreach (var ability in Model.Abilities)
                            {
                                <div class="row mb-1">
                                    <div class="col-2">
                                        <input type="radio" disabled checked="@Model.SavingThrows.Contains(ability.Id)" />
                                    </div>
                                    <div class="col-2">
                                        <div class="text-center">@Model.SavingThrowBonus(ability.Id)</div>
                                    </div>
                                    <div class="col-6">
                                        <div>@ability.Name</div>
                                    </div>
                                    <div class="col-2">
                                        <img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="@ability.Name Saving Throw" data-die-type="20" data-bonus="@Model.SavingThrowBonus(ability.Id)" src="~/img/icon/d6_16x16.png" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="text-center">Saving Throws</div>
                        </div>
                    </div>

                    @*Skills*@
                    <div class="card">
                        <div class="card-body">
                            @foreach (var skill in Model.Skills)
                            {
                                <div class="row mb-1">
                                    <div class="col-2">
                                        <input type="radio" disabled checked="@Model.PlayerSkills.Contains(skill.Id)" />
                                    </div>
                                    <div class="col-2">
                                        <div class="text-center">@Model.SkillBonus(skill.Id)</div>
                                    </div>
                                    <div class="col-6">
                                        <div>@skill.Name</div>
                                    </div>
                                    <div class="col-2">
                                        <img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="@skill.Name Skill Check" data-die-type="20" data-bonus="@Model.SkillBonus(skill.Id)" src="~/img/icon/d6_16x16.png" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="text-center">Skills</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                @*Passive Perception*@
                <div class="col-12 h-100">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="card bg-light mb-3 col-4">
                                    <div align="center">
                                        <strong>10</strong>
                                    </div>
                                </div>
                                <div class="col-8 text-center">Passive Perception</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="row">
                @*Status and Equipment*@
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <div class="card bg-light h-100">
                                        <div align="center">
                                            <strong>14</strong>
                                            <br />
                                            Armour Class
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 h-100">
                                    <div class="card bg-light">
                                        <div class="col-12 mb-1 text-center">
                                            <strong>-</strong>
                                        </div>
                                        <div class="col-12 mb-1 text-center">Initiative<span class="float-right"><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Roll for Initiative" data-die-type="20" data-bonus="@Model.AbilityScores.Single(n => n.AbilityId == 2).Bonus" src="~/img/icon/d6_16x16.png" /></span></div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card bg-light h-100">
                                        <div align="center">
                                            <strong>30</strong>
                                            <br />
                                            Speed
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            Maximum: @Model.HitDieMaximum
                                        </div>
                                        <div class="col-6">
                                            Current: @Model.HitDieCurrent
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="col-12 text-center"><span class="float-left"><img type="button" class="subtract-temp-hp text-center" src="~/img/icon/subtract_32x32.png" /></span>Hit Points<span class="float-right"><img type="button" class="add-temp-hp text-center" src="~/img/icon/add_32x32.png" /></span></div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    @Model.HitPointTemporary
                                </div>
                                <div class="card-footer">
                                    <div class="col-12 text-center"><span class="float-left"><img type="button" class="subtract-temp-hp text-center" src="~/img/icon/subtract_32x32.png" /></span>Temporary Hit Points<span class="float-right"><img type="button" class="add-temp-hp text-center" src="~/img/icon/add_32x32.png" /></span></div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            Maximum: @Model.Level d@(Model.PlayerClass.HitDie)
                                            <br />
                                            Current:
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-12 text-center"><span class="float-left"><img type="button" class="refresh-hit-die text-center" src="~/img/icon/refresh_32x32.png" /></span>Hit Dice<span class="float-right"><img type="button" class="heal text-center" data-die-type="@Model.PlayerClass.HitDie" data-bonus="@Model.AbilityScores.Single(n => n.AbilityId == 3).Bonus" src="~/img/icon/add_32x32.png" /></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    Success
                                                </div>
                                                <div class="col-2">
                                                    <input type="radio" disabled />
                                                </div>
                                                <div class="col-2">
                                                    <input type="radio" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" disabled />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-5">
                                                    Failure
                                                </div>
                                                <div class="col-2">
                                                    <input type="radio" disabled />
                                                </div>
                                                <div class="col-2">
                                                    <input type="radio" disabled />
                                                </div>
                                                <div class="col-3">
                                                    <input type="radio" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-12 text-center"><span class="float-left"><img type="button" class="refresh-death-saves text-center" src="~/img/icon/refresh_32x32.png" /></span>Death Saves<span class="float-right"><img type="button" class="resolve-death-save text-center" data-die-type="20" src="~/img/icon/add_subtract_32x32.png" /></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="30%">Name</th>
                                        <th width="15%">Bonus</th>
                                        <th width="15%">Damage</th>
                                        <th width="20%">Type</th>
                                        <th width="10">ATK</th>
                                        <th width="10">DMG</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var weapon in Model.Equipment.Where(n => n.Equipment.WeaponType != null && !string.IsNullOrEmpty(n.EquippedSlot)))
                                    {
                                        <tr>
                                            <td>@(weapon.DisplayName())</td>
                                            <td>@Model.WeaponAttackBonus(weapon.Id)</td>
                                            <td>@(Model.WeaponDamage(weapon.Id))</td>
                                            <td>@(weapon.Equipment.WeaponType.DamageType)</td>
                                            <td><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Attack Roll" data-die-type="20" data-bonus="@(Model.WeaponAttackBonus(weapon.Id))" src="~/img/icon/attack_32x32.png" /></td>
                                            <td><img type="button" class="damage text-center" data-toggle="modal" data-target="#damageRollModal" data-modal-label="Damage Roll" data-damage="@(Model.WeaponDamage(weapon.Id))" data-damage-type="@(weapon.Equipment.WeaponType.DamageType)" src="~/img/icon/damage_32x32.png" /></td>
                                        </tr>
                                    }
                                    @foreach (var spell in Model.Spells.Where(n => n.Spell.SpellLevel == 0 &&
                                                                  n.IsPrepared &&
                                                                  (n.Spell.IsSpellAttack || n.Spell.SavingThrowAbility != null)))
                                    {
                                        <tr>
                                            <td>@(spell.Spell.Name)</td>
                                            @if (spell.Spell.IsSpellAttack)
                                            {
                                                <td>@Model.SpellAttackBonus</td>
                                            }
                                            else if (spell.Spell.SavingThrowAbility != null)
                                            {
                                                <td>DC @Model.SpellSaveDC (@spell.Spell.SavingThrowAbility.Code)</td>
                                            }
                                            else
                                            {
                                                <td />
                                            }
                                            <td />
                                            <td>@spell.Spell.DamageType</td>
                                            <td><img type="button" class="roll text-center" data-toggle="modal" data-target="#dieRollModal" data-modal-label="Attack Roll" data-die-type="20" data-bonus="@Model.SpellAttackBonus" src="~/img/icon/refresh_32x32.png" /></td>
                                            <td />
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">Attacks & Spellcasting</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 co-lg-12">
            @*Features*@
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            @if (Model.Features.Any(n => n.IsRaceFeature && !n.Hidden))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Race Features</strong>
                                    </div>
                                </div>
                            }
                            @foreach (var raceFeature in Model.Features.Where(n => n.IsRaceFeature && !n.Hidden).OrderBy(n => n.Level).ThenBy(n => n.Name))
                            {
                                <div class="row">
                                    <div class="col-12" data-toggle="tooltip" data-placement="left" title="@Regex.Replace(raceFeature.ShortDescription, @"<[^>]*>", String.Empty)">
                                        @raceFeature.Name @if (raceFeature.QuantityCurrent.HasValue)
                                        {@: x@(raceFeature.QuantityCurrent)
                                    }
                                    </div>
                                </div>
                            }
                            @if (Model.Features.Any(n => n.IsRaceFeature && !n.Hidden))
                            {
                                <br />
                            }
                            @if (Model.Features.Any(n => n.IsClassFeature && !n.Hidden))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Class Features</strong>
                                    </div>
                                </div>
                            }
                            @foreach (var classFeature in Model.Features.Where(n => n.IsClassFeature && !n.Hidden).OrderBy(n => n.Level).ThenBy(n => n.Name))
                            {
                                <div class="row">
                                    <div class="col-12" data-toggle="tooltip" data-placement="left" title="@Regex.Replace(classFeature.ShortDescription, @"<[^>]*>", String.Empty)">
                                        @classFeature.Name @if (classFeature.QuantityCurrent.HasValue)
                                        {@: x@(classFeature.QuantityCurrent)
                                    }
                                    </div>
                                </div>
                            }
                            @if (Model.Features.Any(n => n.IsClassFeature && !n.Hidden))
                            {
                                <br />
                            }
                            @if (Model.Features.Any(n => !n.IsRaceFeature && !n.IsClassFeature && !n.Hidden))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Other Features</strong>
                                    </div>
                                </div>
                            }
                            @foreach (var otherFeature in Model.Features.Where(n => !n.IsRaceFeature && !n.IsClassFeature && !n.Hidden).OrderBy(n => n.Level).ThenBy(n => n.Name))
                            {
                                <div class="row">
                                    <div class="col-12" data-toggle="tooltip" data-placement="left" title="@Regex.Replace(otherFeature.ShortDescription, @"<[^>]*>", String.Empty)">
                                        @otherFeature.Name @if (otherFeature.QuantityCurrent.HasValue)
                                        {@: x@(otherFeature.QuantityCurrent)
                                    }
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                Features
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Proficiencies and Languages*@
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            Language: Common, Infernal, Elvish, Dwarvish<br />
                            <br />
                            Combat: Quarterstaff, Dagger, Dart, Light Crossbow<br />
                            <br />
                            Exploration:<br />
                            <br />
                            Roleplay:
                        </div>
                        <div class="card-footer">
                            <div class="text-center">Other Proficiencies and Languages</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
