@model NoticeBoard.Models.PlayerCharacters.PlayerCharacterModel

<div>
    <div class="row" style="padding-bottom:10px">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <strong>@Model.Copper</strong>
                                </div>
                                <div class="card-footer" align="center">
                                    Copper (CP)
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <strong>@Model.Silver</strong>
                                </div>
                                <div class="card-footer" align="center">
                                    Silver (SP)
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <strong>@Model.Electrum</strong>
                                </div>
                                <div class="card-footer" align="center">
                                    Electrum (EP)
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <strong>@Model.Gold</strong>
                                </div>
                                <div class="card-footer" align="center">
                                    Gold (GP)
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <strong>@Model.Platinum</strong>
                                </div>
                                <div class="card-footer" align="center">
                                    Platinum (PP)
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    <strong>@Model.TotalGold</strong>
                                </div>
                                <div class="card-footer" align="center">
                                    Total (GP)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <div class="card" style="margin-bottom:10px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "Cloak") != null)
                                    {
                                        var clock = @Model.Equipment.Single(n => n.EquippedSlot == "Cloak");
                                        <img class="img-fluid" src="~/img/Equipment/@(clock.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">@clock.DisplayName()</div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Cloak</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "Helmet") != null)
                                    {
                                        var helmet = @Model.Equipment.Single(n => n.EquippedSlot == "Helmet");
                                        <img class="img-fluid" src="~/img/Equipment/@(helmet.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">@helmet.DisplayName()</div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Helmet</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "Amulet") != null)
                                    {
                                        var amulet = @Model.Equipment.Single(n => n.EquippedSlot == "Amulet");
                                        <img class="img-fluid" src="~/img/Equipment/@(amulet.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">@amulet.DisplayName()</div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Amulet</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "MainHand" || n.EquippedSlot == "BothHands") != null)
                                    {
                                        var mainHand = @Model.Equipment.Single(n => n.EquippedSlot == "MainHand" || n.EquippedSlot == "BothHands");
                                        <img class="img-fluid" src="~/img/Equipment/@(mainHand.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">
                                                    @mainHand.DisplayName()@if (mainHand.Quantity > 1)
                                                    {
                                                        @:x@(mainHand.Quantity)
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Main-Hand Weapon</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "Armor") != null)
                                    {
                                        var armor = @Model.Equipment.Single(n => n.EquippedSlot == "Armor");
                                        <img class="img-fluid" src="~/img/Equipment/@(armor.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">@armor.DisplayName()</div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Armor</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "OffHand" || n.EquippedSlot == "BothHands") != null)
                                    {
                                        var offHand = @Model.Equipment.Single(n => n.EquippedSlot == "OffHand" || n.EquippedSlot == "BothHands");
                                        <img class="img-fluid" src="~/img/Equipment/@(offHand.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">
                                                    @offHand.DisplayName()@if (offHand.Quantity > 1)
                                                    {
                                                        @:x@(offHand.Quantity)
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Off-Hand Weapon</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "Ring1") != null)
                                    {
                                        var ring1 = @Model.Equipment.Single(n => n.EquippedSlot == "Ring1");
                                        <img class="img-fluid" src="~/img/Equipment/@(ring1.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">@ring1.DisplayName()</div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Ring 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "Boots") != null)
                                    {
                                        var boots = @Model.Equipment.Single(n => n.EquippedSlot == "Boots");
                                        <img class="img-fluid" src="~/img/Equipment/@(boots.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">@boots.DisplayName()</div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Boots</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body" align="center">
                                    @if (@Model.Equipment.SingleOrDefault(n => n.EquippedSlot == "Ring2") != null)
                                    {
                                        var ring2 = @Model.Equipment.Single(n => n.EquippedSlot == "Ring2");
                                        <img class="img-fluid" src="~/img/Equipment/@(ring2.Equipment.ImagePath ?? "unknown").png" />
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">@ring2.DisplayName()</div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="~/img/Equipment/nothing.png" />
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">Ring 2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-center">Equipment</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card" style="margin-bottom:10px">
                <div class="card-body">
                    @foreach (var equipment in Model.Equipment.Where(n => string.IsNullOrWhiteSpace(n.EquippedSlot)))
                    {
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    @equipment.DisplayName()@if(equipment.Quantity > 1){ @:x@(equipment.Quantity)
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <div class="text-center">Pack</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card" style="margin-bottom:10px">
                <div class="card-body">
                    @foreach (var treasure in Model.Treasure)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    @treasure.DisplayName()@if (treasure.Quantity > 1){ @:x@(treasure.Quantity)
                                    }
                                    @if (!string.IsNullOrWhiteSpace(treasure.TotalValue))
                                    {
                                        @:(@(treasure.TotalValue))
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <div class="text-center">Treasure</div>
                </div>
            </div>
        </div>
    </div>
</div>
