@model NoticeBoard.Models.Languages.SelectLanguagesModel

@{
    ViewData["Title"] = "New Character - Languages";
}

    <div id="NewCharacterVue">
        @using (Html.BeginForm("SelectLanguages", "PlayerCharacter", "POST"))
        {
            @Html.HiddenFor(model => model.PcId)
            @Html.HiddenFor(model => model.PartyId)
            @Html.HiddenFor(model => model.NumberOfLanguages)
        <div class="row h-100">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="text-center">Common Languages</div>
                    </div>
                    <div class="card-body">
                        @for (int i = 0; i < Model.Languages.Count(); i++)
                        {
                            <div class="row">
                                <div>
                                    @Html.HiddenFor(m => m.Languages[i].Id)
                                    @Html.HiddenFor(m => m.Languages[i].Name)
                                    <input asp-for="Languages[i].IsSelected" type="checkbox" disabled="@Model.Languages[i].IsMandatory" />
                                    <label asp-for="Languages[i].Name">@Model.Languages[i].Name</label>
                                </div>
                            </div>
                        }
                        <input class="btn btn-primary" type="submit" :disabled="selectionId <= 0" />
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
@section Scripts {
    <script src="~/js/NewCharacter.js" type="text/javascript"></script>
}
