@model NoticeBoard.Models.PlayerCharacters.PlayerCharacterModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>PlayerCharacterModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProficiencyBonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProficiencyBonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperiencePoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperiencePoints)
        </dd>
    </dl>
</div>
